<div class="navbar1">
  <nav class="navbar2">
    <div>
      <a routerLinkActive="active" routerLink="elixir">elixir</a>
    </div>
    <div>
      <a routerLinkActive="active" routerLink="ingredients">ingredient</a>
    </div>
    <div>
      <a routerLinkActive="active" routerLink="spell">spell</a>
    </div>
    <div>
      <a routerLinkActive="active" routerLink="wizard">wizard</a>
    </div>
    <div>
      <a routerLinkActive="active" routerLink="house">house</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
