<div class="home">
  <div class="head">Wizarding World</div>
  <div class="content">
    The Wizarding World (previously known as J. K. Rowling's Wizarding World) is
    a fantasy media franchise and shared fictional universe centred on the Harry
    Potter novel series by J. K. Rowling. A series of films have been in
    production since 2000, and in that time eleven films have been
    produced—eight are adaptations of the Harry Potter novels and three are part
    of the Fantastic Beasts series. The films are owned and distributed by
    Warner Bros. Pictures. The series has collectively grossed over $9.6 billion
    at the global box office, making it the fourth-highest-grossing film
    franchise of all time (behind the Marvel Cinematic Universe, Star Wars and
    Spider-Man). David Heyman and his company Heyday Films have produced every
    film in the Wizarding World series. Chris Columbus and Mark Radcliffe served
    as producers on Harry Potter and the Prisoner of Azkaban, David Barron began
    producing the films with Harry Potter and the Order of the Phoenix in 2007
    and ending with Harry Potter and the Deathly Hallows – Part 2 in 2011, and
    Rowling produced the final two films in the Harry Potter series. Heyman,
    Rowling, Steve Kloves and Lionel Wigram have produced both films in the
    Fantastic Beasts series.
    <div class="content pad">
      The films are written and directed by several individuals and feature
      large, often ensemble, casts. Many of the actors, including Daniel
      Radcliffe, Rupert Grint, Emma Watson, Tom Felton, Michael Gambon, Ralph
      Fiennes, Alan Rickman, Maggie Smith, Helena Bonham Carter, Gary Oldman,
      Eddie Redmayne, Katherine Waterston, Alison Sudol, and Dan Fogler star in
      numerous films. Additionally, Jude Law and Johnny Depp feature in two
      films each. Soundtrack albums have been released for each of the films.
      The franchise also includes a stage production (Harry Potter and the
      Cursed Child), a digital publication, a video game label and The Wizarding
      World of Harry Potter–themed areas at several Universal Parks & Resorts
      amusement parks around the world.
    </div>
  </div>
</div>
