@font-face {
  font-family: "recoleta";
  src: url("./recoleta-regulardemo.otf") format("opentype");
}

.LogoImgSize {
  width: 185px;
  height: 48px;
  padding-left: 65px;
  padding-top: 4px;
}
.inline {
  display: flex;
}

.toptab {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.upfront {
  font-family: sans-serif;
  margin-top: 26px;
  font-size: large;
  color: #6e6e6e;
  font-weight: lighter;
}
.candidate {
  display: flex;
  border: 2px solid #ee6d57;
  color: #ee6d57;
  border-radius: 5px;
  width: 183px;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
}
.FindDoctors {
  display: flex;
  border: 2px solid#EE6D57;
  color: white;
  background-color: #ee6d57;
  border-radius: 5px;
  width: 173px;
  height: 37px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
}
.righttab {
  padding-top: 7px;
  padding-right: 60px;
}
.secondTab {
  background-color: #f8f8f8;
  height: 61px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
}
.dropdowns {
  display: flex;
  padding-left: 80px;
}
.DropDownItems {
  position: relative;
  padding: 20px 40px 0 0;
  font-size: medium;
  font-weight: 550;
  font-family: sans-serif;
  color: #4e4d4d;
  cursor: pointer;
}
.SignIn {
  display: flex;
  padding-right: 57px;
}
.content {
  display: flex;
  padding: 70px;
}

.DoctorImage {
  height: 545px;
}
.DoctorDriven {
  padding-left: 100px;
  padding-top: 153px;
  font-size: 42px;
  font-family: "recoleta";
  font-weight: 900;
}
.ClearCut {
  padding-left: 100px;
  padding-top: 20px;
  font-size: 19px;
  font-family: sans-serif;
  color: #404042;
}
.CandidateBlue {
  margin-left: 100px;
  margin-top: 60px;
  display: flex;
  border: 2px solid #43a0b2;
  background-color: #43a0b2;
  color: white;
  border-radius: 5px;
  width: 183px;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
}
.DropDownContent {
  margin-top: 24px;
  background-color: #f8f8f8;
  width: fit-content;
  display: none;
  position: absolute;
  border: 1px solid #dedede;
  border-top: 0;
  font-size: 15px;
}

#whyOrthofx:hover .DropDownContent {
  display: block;
}
#products:hover .DropDownContent {
  display: block;
}
#pricing:hover .DropDownContent {
  display: block;
}
#treatable:hover .DropDownContent {
  display: block;
}
.atag {
  padding: 13px 16px 13px 16px;
  display: block;
  text-decoration: none;
  color: #404042;
  color: #4e4d4d;
  white-space: nowrap;
}
.CandidateATag {
  text-decoration: none;
  color: #ee6d57;
}
.DoctorATag {
  text-decoration: none;
  color: white;
}
#signin:hover .DropDownContent {
  display: block;
}

.DropDownContent a:hover {
  color: #ee6d57;
}
.candidate:hover > a {
  color: #ec9986;
}
.FindDoctors:hover {
  background-color: #ec9986;
  border: 2px solid #ec9986;
}

.CandidateBlue:hover {
  background-color: #72d5e9;
  border: 2px solid #72d5e9;
}
.candidate:hover {
  border: 2px solid #ec9986;
}
.third-grey-tab {
  height: 120px;
  background-color: #f8f8f8;
  display: flex;
  padding: 0px 300px 0px 300px;
  align-items: center;
}

.fix {
  position: sticky;
  top: 0px;
}
.third-grey-tab-img1 {
  height: 25px;
}
.third-grey-tab-img2 {
  height: 25px;
  padding: 0px 60px 0px 60px;
}
.third-grey-tab-img3 {
  height: 50px;
}
.third-grey-tab-img4 {
  padding: 0px 60px 0px 55px;
  height: 80px;
}
.third-grey-tab-img5 {
  height: 70px;
}
.third-grey-tab-img6 {
  height: 21px;
  padding: 0px 60px 0px 55px;
}
.third-grey-tab-img7 {
  height: 22px;
}
.second-page-start {
  display: flex;
  padding-right: 80px;
  padding-left: 300px;
  padding-bottom: 30px;
  background-color: #f8f8f8;
  padding-top: 30px;
  align-items: center;
}
.sec-page-start {
  display: flex;
  padding-right: 60px;
  padding-left: 65px;
  padding-bottom: 30px;
  background-color: #f8f8f8;
}
.clear-aligner {
  margin: 10px;
  height: 567px;
}
.clear-aligner-right {
  padding: 227px 0px 0px 75px;
}
.orthofx-clear-aligners {
  font-size: 42px;
  font-family: "recoleta";
  padding-bottom: 10px;
  font-weight: 900;
}
.orthofx-clear-aligners-content {
  font-size: 19px;
  font-family: sans-serif;
  color: #404042;
  line-height: 25px;
  margin-bottom: 25px;
}
.orthofx-clear-left {
  padding-top: 120px;
  padding-right: 170px;
}
.img-doctor-with-u {
  height: 705px;
}
.spacing {
  padding-bottom: 20px;
  font-size: 19px;
  font-family: sans-serif;
  color: #404042;
}
.FindDoctors2 {
  display: flex;
  border: 2px solid#EE6D57;
  color: white;
  background-color: #ee6d57;
  border-radius: 5px;
  width: 173px;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
}
.FindDoctors2:hover {
  background-color: #ec9986;
  border: 2px solid #ec9986;
}
.icon-size {
  height: 25px;
  padding: 5px 15px 0px 0px;
}
.section-3 {
  height: 716px;
  justify-content: space-between;
  display: flex;
}
.section-3-1 {
  padding: 76px 152px 76px 76px;
  background-color: #74c2d1;
  width: 760px;
}
.section-3-1-1 {
  font-family: "recoleta";
  font-size: 42px;
  color: white;
  padding-bottom: 18px;
  font-weight: 900;
}
.section-3-1-2 {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 10px;
}
.section3-1-3 {
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 40px;
}
.section-3-2 {
  height: 716px;
  width: 759px;
}
.section-4 {
  display: flex;
  padding: 76px;
  height: 524px;
}
.how-it-works {
  display: flex;
  border: 2px solid#EE6D57;
  color: white;
  background-color: #ee6d57;
  border-radius: 5px;
  width: 140px;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
  margin-top: 25px;
}
.how-it-works:hover {
  background-color: #ec9986;
  border: 2px solid #ec9986;
}
.sec-4-1 {
  width: 615px;
  height: 524px;
}
.section-4-2 {
  padding: 50px 0px 50px 100px;
}
.sec-4-2-1 {
  font-size: 42px;
  font-family: "recoleta";
  color: black;
  padding-bottom: 20px;
  font-weight: 900;
}
.content-font {
  font-family: sans-serif;
  font-size: 19px;
  color: #404042;
  font-weight: lighter;
  line-height: 30px;
}
.sp-1 {
  color: #f48471;
}
.sp-2 {
  color: #74c2d1;
}
.sp-3 {
  color: #404042;
}
.sp-4 {
  color: #fec112;
}
.sec-4-2-2 {
  padding-bottom: 20px;
}
.sec-4-2-3 {
  padding-bottom: 22px;
}
.section-5 {
  height: 547px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-5-1 {
  padding: 100px 36px 0px 76px;
  background-color: #f4f9fa;
}
.section-5-2 {
  height: 547px;
}
.sec-6 {
  padding: 76px 76px 50px 76px;
}
.sec-6-1 {
  font-size: 42px;
  font-family: "recoleta";
  color: black;
  padding-bottom: 20px;
  font-weight: 900;
}
.sec-7 {
  padding: 0px 76px 70px 76px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.sec-8 {
  display: flex;
  height: 484px;
}
.sec-8-1 {
  background-color: #f48471;
  padding: 0px 50px 0px 76px;
  height: 484px;
}
.sec-8-1-1 {
  font-family: "recoleta";
  font-size: 42px;
  color: white;
  padding: 80px 0px 40px 0px;
  font-weight: 900;
}
.sec-8-1-2 {
  font-family: "recoleta";
  font-size: 19px;
  color: white;
  padding-bottom: 30px;
  font-weight: 700;
}
.sec-8-1-3 {
  font-family: sans-serif;
  font-size: 19px;
  color: #ffffff;
  font-weight: 100;
  line-height: 30px;
}
.pricing {
  display: flex;
  color: #ee6d57;
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  width: 154px;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
  margin: 60px 0px 0px 0px;
}
.pricingATag {
  text-decoration: none;
  color: #ee6d57;
}
.pricing:hover {
  background-color: #fbe8e4;
  border: #fbe8e4;
}
.img-sock {
  width: 759px;
  height: 484px;
}
.sec-9 {
  background-color: #74c2d1;
  display: flex;
  height: 567px;
}
.sec-9-1 {
  padding: 85px 76px 30px 76px;
}
.sec-9-1-1 {
  font-family: "recoleta";
  font-size: 42px;
  color: white;
  padding-bottom: 18px;
  font-weight: 900;
}
.sec-9-1-2 {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 30px;
  padding-bottom: 15px;
  line-height: 30px;
}
.sec-9-1-3 {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  line-height: 30px;
}
.img-dualshell {
  height: 506px;
  padding-left: 90px;
}

.sec-11 {
  padding: 120px 76px 115px 76px;
  display: flex;
}
.sec-11-1-1 {
  font-size: 42px;
  font-family: "recoleta";
  color: black;
  padding-bottom: 20px;
  font-weight: 900;
  padding-top: 10px;
}
.sec-11-1-2 {
  font-family: sans-serif;
  font-size: 19px;
}
.sec-11-1-3 {
  padding-top: 50px;
  color: #ee6d57;
  border-bottom: 2px solid #ee6d57;
  width: fit-content;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 19px;
}
.sec-11-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 170px;
  gap: 10px;
}
.sec-11-1-3:hover {
  color: #f49281;
  border-color: #f49281;
}
.after-img {
  height: 269px;
  width: 271px;
}
.before {
  font-size: 19px;
  font-family: sans-serif;
  line-height: 40px;
  color: #404041;
  font-weight: 100;
}
.sec-12 {
  display: flex;
  height: max-content;
  justify-content: space-between;
}
.sec-12-1 {
  background-color: #f48471;
  padding-left: 76px;
  width: 759px;
  padding-top: 100px;
}
.sec-12-1-1 {
  font-family: "recoleta";
  font-size: 42px;
  color: white;
  font-weight: 900;
}
.sec-12-1-2 {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 25px;
  padding-bottom: 50px;
  line-height: 30px;
}
.candidate2 {
  display: flex;
  border: 2px solid #ffffff;
  color: #f48471;
  border-radius: 5px;
  background-color: #ffffff;
  width: 200px;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 550;
}
.sec-12-2 {
  width: 759px;
  height: 500px;
}
.sec-13 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f5f8;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.img-13 {
  width: 441px;
  height: 291px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.head-13 {
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 25px;
  font-weight: 700;
  color: #404041;
  padding-left: 15px;
  line-height: 20px;
}
.content-13 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #404041;
  line-height: 18px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.read-more {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ee6d57;
  padding-bottom: 30px;
  padding-left: 15px;
}
.date-13 {
  font-family: sans-serif;
  font-weight: 12px;
  color: #adadad;
  border-top: 1px solid #adadad;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 12px;
}
.sec-13-1 {
  background-color: #ffffff;
  width: 441px;
  border-radius: 8px;
}
.read-more-1 {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ee6d57;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-top: 5px;
}
.sec-14-1 {
  font-family: "recoleta";
  font-size: 42px;
  font-weight: 900;
  color: #404041;
  margin-bottom: 25px;
}
.cont-14 {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
  line-height: 25px;
  color: #404041;
}
.head-14 {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  color: #404041;
  padding-bottom: 7px;
}
.sec-14 {
  padding: 40px;
}
.sec-15 {
  display: flex;
  background-color: #f8f8f8;
  padding: 60px 76px 76px 76px;
  border-top: 1px solid #fec112;
}
.img-15 {
  height: 38px;
}
.sec-15-1-2 {
  font-size: 14px;
  font-family: sans-serif;
  color: #404041;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.sec-15-1 {
  padding-right: 40px;
}
.sec-15-2-1 {
  font-size: 12px;
  font-family: sans-serif;
  color: #40404173;
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 20px;
}
.sec-15-2-2 {
  font-size: 14px;
  font-family: sans-serif;
  padding: 5px 0px;
  color: #404042;
}
.sec-15-2 {
  padding-right: 90px;
}
.sec-15-3 {
  padding-right: 70px;
}
.sec-15-4 {
  padding-right: 90px;
}
.sec-15-5-2 {
  font-size: 14px;
  font-family: sans-serif;
  padding: 5px 0px;
  color: #404041;
  line-height: 20px;
}
.sec-15-2-2:hover {
  color: #f18a79;
}
.sec-15-5-3 {
  display: flex;
}
.email {
  width: 220px;
  height: 44px;
  border: 1px solid #393939;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  padding-left: 25px;
  font-size: larger;
  display: block;
  margin-top: 20px;
}
.subs {
  height: 48px;
  border-radius: 4px;
  width: 160px;
  background-color: #404042;
  color: #ffffff;
  border: 1px solid #404042;
  position: absolute;
  right: 170px;
  display: block;
  margin-top: 20px;
}
.sec-16 {
  background-color: #ececec;
  display: flex;
  padding: 15px 90px;
}
.sec-16-1 {
  margin-left: 470px;
  font-size: 14px;
  font-family: sans-serif;
  color: #40404173;
}
.sec-16-2 {
  font-family: sans-serif;
  color: #404042;
}
.sec-16-2:hover {
  color: #686868;
}
.sec-16-1:hover {
  color: #686868;
}
.input {
  visibility: hidden;
}

.sec-10 {
  background-color: #74c2d1;
  padding: 30px 76px 30px 76px;
}
.sec-10-1 {
  font-family: "recoleta";
  font-size: 42px;
  color: white;
  font-weight: 900;
}
.outer-box {
  background-color: #74c2d1;
  padding: 80px;
  padding-top: 0px;
}
.box {
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}
input {
  display: none;
}
.faq-1 {
  display: inline-block;
  width: 100%;
  padding: 20px;
  color: #404041;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.faq-content {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #74c2d1;
  color: white;
  display: none;
  line-height: 25px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.box input[type="radio"]:checked + label + div {
  display: block;
}
