<div
  *ngFor="let elixirs of listservice.elixir"
  (click)="clickElixir(elixirs.id)"
>
  <div>{{ elixirs.name }}</div>
</div>
<div
  *ngFor="let ingredients of listservice.ingredient"
  (click)="clickIngredient(ingredients.id)"
>
  <div>{{ ingredients.name }}</div>
</div>
<div *ngFor="let spells of listservice.spell" (click)="clickSpell(spells.id)">
  <div>{{ spells.name }}</div>
</div>
<div
  *ngFor="let wizards of listservice.wizard"
  (click)="clickWizard(wizards.id)"
>
  <div>{{ wizards.firstName + wizards.lastName }}</div>
</div>
<div *ngFor="let houses of listservice.house" (click)="clickHouse(houses.id)">
  <div>{{ houses.name }}</div>
</div>
